:root{
    --black: #000000;
    --purple: #52057B;
    --violet: #892CDC;
    --ligh-violet: #BC6FF1;
    --white: #FFFFFF;
}


/* BEGIN: reset-css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    width: 100vw;
    overflow: hidden;
}

/* END: reset-css */


/* Mobile styles */
body {
    font-size: 16px;
}

    /* Scrollbar styles */
::-webkit-scrollbar {
    width:10px;
    height: 10px;
} 
     
::-webkit-scrollbar-track {
    background: var(--purple);
}
     
::-webkit-scrollbar-thumb {
    background: var(--violet);
    border-radius: 20px;
}

/*Dot Navigation Styles */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar {
  z-index: 1000;
  position: fixed;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
}

.navbar a {
  display: block;
  border-radius: 50%;
  border: 1px solid var(--white);
  width: 16px;
  height: 16px;
  
  margin: 20px 0;
  
  text-indent: -999px;
  overflow: hidden;
  
  position: relative;
}

.navbar a::after {
  content: ''; 
  
  background-color: var(--ligh-violet);

  position: absolute;
  bottom: 0;
  height: 0;
  left: 0;
  right: 0;
  width: 100%;
  transition: height 0.3s ease-in-out ;
}

.navbar a:hover::after,
.navbar a.active::after {
  
  height: 100%;
}

/*Main*/

.main {
    width: 100%;
    height: 100vh;
    background: #000000;
    background: radial-gradient(
      circle,
      #000000 0%,
      var(--purple) 45%
    );
  }
  
  .MainText {
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    height: 100%;
  }
  
  .HelloMain h2 {
    color: var(--white);
    font-size: 1.5rem;
  }
  
  .HelloMain span {
    color: var(--violet);
  }
  
  .FrontEnd {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vh;
  }

  .SvgIcon{
    display: none;
  }

  .SvgIconMobile{
    display: flex;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: baseline;
  }

    .SvgIconMobile a {
    text-decoration: none;
  }
  
    .SvgIconMobile svg {
    width: 4rem;
  }
  
    .SvgIconMobile svg:hover path {
    transition: 0.5s;
    fill: var(--violet);
  }
  
    .SvgIconMobile svg:hover {
    filter: drop-shadow(0px 1px 10px #9400ff);
    transition: 0.5s;
  }
  
  .FrontEnd h1 {
    font-size: 2rem;
    color: var(--white);
  }
  
  .Developer h1 {
    font-size: 3rem;
    color: var(--violet);
  }
  
  .Developer span.cursor {
    display: inline-block;
    background-color: var(--violet);
    margin-left: 0.1rem;
    width: 4px;
    margin-left: 0.5rem;
    animation: blink 1s infinite;
  }
  
  .Developer p span.cursor.typing {
    animation: none;
  }
  
  @keyframes blink {
    0% {
      background-color: var(--violet);
    }
    49% {
      background-color: var(--violet);
    }
    50% {
      background-color: transparent;
    }
    99% {
      background-color: transparent;
    }
    100% {
      background-color: var(--violet);
    }
  }

  /*Sobre*/

  .about{
    width: 100%;
    height: 100%;
  }

  .backgroundAbout{
    width: 100%;
    min-height: 100vh;
    max-height: auto;
    background-color: #52057B;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23420462' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%2331034a' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23210231' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23100119' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23000000' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    display: grid;
    justify-content: center;
    justify-items: center;
  }

  .foto{
    display: none;
  }

  .buttons{
    display: grid;
    grid-template-columns: auto auto auto;
    height: 2rem;
    gap: 2rem;
    justify-items: center;
    margin-top: 2rem;
  }

  .buttons button{
    width: 50%;
    height: 100%;
    border: none;
    border-radius: 20px;
    background-color: transparent;
    color: var(--white);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
  }

  .buttons button:hover{
    text-decoration: underline 4px solid var(--violet);
    transition: width 0.5s ease-in-out;
  }

    .active{
    text-decoration: underline 4px solid var(--violet);
  }

  .containerAbout{
    width: 95%;
    height: auto;
    border-radius: 20px;
  }
  
  .textAbout h1{
    display: flex;
    justify-content: center;
    color: var(--white);
    font-size: 2rem;
    padding: 20px;
  }

  .textAbout p{
    color: var(--white);
    font-size: 1.5rem;
    padding: 20px;
  }

  .textAbout p span{
    color: var(--ligh-violet);
  }

  .textAbout li{
    color: var(--white);
    font-size: 1.5rem;
    padding: 20px;
  }

  .textAbout li span{
    color: var(--ligh-violet);
  }

  #about{
    border: 2px solid var(--ligh-violet);
    border-radius: 20px;
  }
  

/*Techs*/

.aboutTech{
    display: none;
}

.techs{
    width: 100%;
    height: 100vh;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%2352057B' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%2352057B'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    color: var(--white);
}

.containerTechs{
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    justify-items: center;
}

.textTech{
    display: grid;
    align-content: center;
    justify-items: center;
}

.gridTechs {
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
    justify-content: center;
    gap: 2em 2em;
    align-items: center;
    justify-items: center;
  }
  
  .gridTechs div {
    display: grid;
    justify-content: center;
    width: 10rem;
    height: 10rem;
    border-radius: 20px;
    border: 2px solid var(--purple);
    backdrop-filter: blur(4px);
    transition: 0.5s;
    align-content: center;
    align-items: center;
    justify-items: center;
    align-content: space-evenly;
  }
  
  .gridTechs div h3 {
    font-weight: normal;
  }
  
  .gridTechs div:hover {
    transition: 1s;
    background-color: var(--purple);
  }
  
  .gridTechs:hover > :not(:hover) {
    backdrop-filter: blur(4px);
    transition: 0.5s;
    opacity: 0.5;
  }

  /*portfolio*/

  

/* Tablet and desktop styles */
@media (min-width: 768px) {
    body {
        font-size: 18px;
    }


    /*main*/

    .FrontEnd{
        display: flex;
        flex-direction: row-reverse;
    }

    .HelloMain h2 {
        font-size: 2rem;
      }

    .FrontEnd h1 {
        font-size: 3rem;
        margin-right: 10px;
      }

      .Developer h1 {
        font-size: 4rem;
      }

    .SvgIconMobile{
        display: none;
    }

    .SvgIcon{
        display: flex;
    }
    
    .FrontEnd .SvgIcon a {
        text-decoration: none;
    }
      
    .FrontEnd .SvgIcon svg {
        width: 4rem;
        height: 4rem;
        margin-right: 5px;
    }
      
    .FrontEnd .SvgIcon svg:hover path {
        transition: 0.5s;
        fill: #9400ff;
    }
      
    .FrontEnd .SvgIcon svg:hover {
        filter: drop-shadow(0px 1px 10px #9400ff);
        transition: 0.5s;
    }

    /*about*/

    .containerAbout{
        display: grid;

        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      
        grid-template-areas:
          "FOTO FOTO SOBRE SOBRE SOBRE"
          "FOTO FOTO SOBRE SOBRE SOBRE"
          "infoAbout infoAbout infoAbout infoAbout infoAbout"
          "infoAbout infoAbout infoAbout infoAbout infoAbout";
      
        gap: 0px;
        height: 100%;
        width: 100%;
        align-items: center;
    }

    .foto{
        display: block;
        grid-area: FOTO;
        margin-right: 10px;
        display: flex;
        align-content: center;
        justify-content: center;
    }

    .foto img{
        width: 90%;
        height: 90%;
        border-radius: 100%;
    }

    .textAbout{
        grid-area: SOBRE;
        height: 100%;
    }

    .infoAbout{
        grid-area: infoAbout;
        width: 100%;
        min-height: 30rem;
        
    }

    /*Techs*/

    .techs{
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 2rem;
    }

    .gridTechs{
        grid-template-columns: auto auto auto;
    }

    .textTech{
        display: none ;
    }

    .aboutTech{
        display: grid;
        align-content: center;
        align-items: center;
        justify-items: center;
        width: 80%;
        margin-right: 10px;
    }
}
